@use 'variables'as *;

body {
    margin: 0;
    font-size: rem(15px);
    font-family: $primary-font;
    padding: rem(80px) 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: inline-block;
}