@use "./variables"as *;

.heading {
    font-size: rem(35px);
    color: $primary;
    max-width: 14ch;
    margin: 0 auto;
    font-weight: 700;

    @media (min-width: 768px) {
        & {
            font-size: rem(50px);
        }
    }
}

.sub-heading {
    color: $dark-gray-magenta;
    line-height: 1.5;
    font-weight: 500;
    margin: 1.5em auto;
    padding: 0 1em;
    max-width: rem(400px);
}