@use '../base/variables'as *;

@media (max-width: 374px) {

    .body::before,
    .body::after {
        content: "";
    }
}

@media (min-width: 768px) {
    .body::before {
        content: url('../../images/bg-pattern-top-desktop.svg');
    }

    .body::after {
        content: url('../../images/bg-pattern-bottom-desktop.svg');
    }
}

@media (min-width: 1440px) {
    .body {
        height: 100vh;
    }

    main {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-large {
        display: flex;
        align-items: center;
    }

    .section-header {
        padding: 0;
    }

    .heading {
        line-height: 1;
        text-align: left;
    }

    .sub-heading {
        text-align: left;
        padding: 0;
        margin-top: 0.5em;
        margin-left: 0;
    }

    .rating-section {
        margin: 0;
        max-width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .rating {
        display: flex;
        align-items: center;
        padding: 1em 2em;

        &__star {
            margin-right: 0.5em;
        }

        &__star:last-of-type {
            margin-right: 2.5em;
        }

        &--offset-sm {
            margin-right: 2em;
        }

        &--offset-lg {
            margin-right: 7em;
        }
    }

    .testimonial-section {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: rem(70px);
    }

    .testimonial--offset-sm {
        margin-top: 2em;
    }

    .testimonial--offset-lg {
        margin-top: 4em;
    }
}