@use '../variables'as *;

.body {
    position: relative;

    &::before {
        content: url('../../images/bg-pattern-top-mobile.svg');
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &::after {
        content: url('../../images/bg-pattern-bottom-mobile.svg');
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}


header,
main {
    width: 85%;
    margin: 0 auto;
}


header {
    text-align: center;
    margin-bottom: rem(40px);

    .heading {
        font-size: rem(35px);
        color: $primary;
        max-width: 14ch;
        margin: 0 auto;
        font-weight: 700;
    }

    .sub-heading {
        color: $dark-gray-magenta;
        line-height: 1.5;
        font-weight: 500;
        margin: 1.5em auto;
        padding: 0 1em;
        max-width: rem(400px);
    }

    @media (min-width: 768px) {
        .heading {
            font-size: rem(50px);
        }
    }
}

.rating-section {
    margin-bottom: rem(50px);
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}